.main-header {
  width: 100%;
  background: orange;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}
.header-grid {
  grid-column: 1/13;
  display: grid;
  background-color: orange;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header-grid {
    grid-row: 1;
  }
}
