.create-event-button {
  grid-column: 1/13;
  justify-items: center;
  align-items: center;
  display: grid;
}

.create-event-button-frame {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/7;
  grid-row: 8/9;
  border: 1px solid grey;
  background-color: white;
  padding: 10px 16px;
  border-radius: 30px;
}

.create-event-button-image {
  background-color: white;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
}

.create-event-button-text {
  grid-column: 6/12;
  justify-self: center;
  align-self: center;
}
